{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 offset-md-3">
                <div class="card card-outline-secondary">
                    <div class="card-header" style="text-align: center; background-color:#e85435;">
                        <img height="60" src="{% static "bootstrap_admin/img/logo-140x60.png" %}" alt="DiamondClub">
                        <h3 class="mb-0" style="color: #FBFBFD;">Password Reset</h3>
                    </div>
                    <div class="card-body">
                        {% include 'Users/alerts.html' %}
                        <form class="form" role="form" autocomplete="off" method="POST" action="">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="form-group" style="text-align: center;">
                                <button type="submit" class="btn btn-success btn-lg">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated'); 
          }, false);
        });
      }, false);
    })();
    </script>

{% endblock %}